@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Quicksand";
  font-weight: 400;
  line-height: 1.5;
  color: #312845;
  margin-bottom: 200rem;
  scroll-behavior: smooth;
  padding-top: 6.3rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

@keyframes moveInTop {
  0% {
    opacity: 0; /* Starts invisible */
    transform: translateY(-100px); /* Starts at the top and begins falling */
  }
  100% {
    opacity: 1; /* Fully visible */
    transform: translate(0); /* Final position */
  }
}
@keyframes moveOutBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
@keyframes moveInLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveOutRightToLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}
.navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-weight: 300;
  color: #2e1559;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 100%);
  background-color: #fff;
  overflow-y: auto;
  z-index: 1001;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  font-size: 2rem;
  pointer-events: none;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
.navigation__item {
  padding: 4.4rem 7%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.navigation__btn {
  display: inline-block;
  width: 87%;
  padding: 1.2rem 2.4rem;
  margin: 2rem auto 2rem auto;
  color: #ff816b;
  border: 0.15rem solid #ff816b;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  font-size: 2.4rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease-in;
}
.navigation__btn:hover {
  background-color: rgb(255, 85.5810810811, 56);
  color: #fff;
}

.navigation--open {
  animation: moveInLeftToRight 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
  pointer-events: auto;
}

.navigation--close {
  animation: moveOutRightToLeft 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    flex: 1;
    opacity: 1;
    width: 75%;
    flex-direction: row;
    pointer-events: all;
    font-size: 2rem;
    font-weight: 400;
  }
  .navigation__list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
  }
  .navigation__item {
    border: 0;
    width: auto;
    padding: 2rem 1rem;
  }
  .navigation__btn {
    width: auto;
  }
  .navigation__link {
    position: relative;
  }
  .navigation__link:hover {
    transform: scale(1.1);
    transition: all 0.25s;
  }
  .navigation__link::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
    background-color: #f8f5ff;
    opacity: 0;
    transform: scale(0);
  }
  .navigation__link:hover::after {
    opacity: 1;
    transform: scale(1.2);
  }
}
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.homepage__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 19.5rem;
  background-image: linear-gradient(to left, #ff816b, #fff);
  position: relative;
}
.homepage__picture__circle--orange {
  position: relative;
  width: 16.3rem;
  height: 16.3rem;
  background-color: #ff816b;
  border-radius: 200rem;
  z-index: 999;
  top: 1rem;
}
.homepage__picture__dog {
  width: 18.6rem;
  height: 19.4rem;
  z-index: 1000;
  position: absolute;
}
.homepage__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  margin-top: 1.6rem;
}
.homepage__text-and-buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 0 2.4rem;
}
.homepage__text-and-buttons__heart-pawn {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 1.6rem;
}
.homepage__text-and-buttons__main-title {
  margin-top: 0.8rem;
  font-size: 3.2rem;
  width: 100%;
}
.homepage__text-and-buttons__sub-title {
  margin-top: 1.6rem;
  width: 87%;
  font-size: 2rem;
  font-weight: 300;
}
.homepage__text-and-buttons__adoption-btn {
  display: inline-block;
  width: 100%;
  height: 5.4rem;
  margin-top: 2.4rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  background-color: #ff816b;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Quicksand";
  transition: all 0.4s ease-in;
}
.homepage__text-and-buttons__adoption-btn:hover {
  background-color: rgb(255, 85.5810810811, 56);
}
.homepage__text-and-buttons__donation-btn {
  display: inline-block;
  width: 100%;
  height: 5.4rem;
  margin-top: 1.6rem;
  font-size: 2rem;
  text-align: center;
  color: #ff816b;
  background-color: transparent;
  border-radius: 0.8rem;
  border: 1px solid #ff816b;
  cursor: pointer;
  font-weight: 600;
  font-family: "Quicksand";
  transition: all 0.4s ease-in;
}
.homepage__text-and-buttons__donation-btn:hover {
  background-color: rgb(255, 85.5810810811, 56);
  color: #fff;
}

@media (min-width: 1024px) {
  .homepage {
    height: 63.1rem;
    flex-direction: row;
    background-image: linear-gradient(to left, rgb(255, 172.4189189189, 158), #fff);
    overflow: hidden;
    padding-left: 21.6rem;
    padding-right: 8.2rem;
  }
  .homepage__picture {
    background-image: none;
    order: 1;
    height: 100%;
    width: 56.9rem;
  }
  .homepage__picture__circle--orange {
    width: 55.6rem;
    height: 55.6rem;
    top: 12rem;
  }
  .homepage__picture__dog {
    width: 45.5rem;
    height: 56.9rem;
    top: 9rem;
  }
  .homepage__buttons {
    flex-direction: row;
    max-width: 54rem;
    gap: 3rem;
  }
  .homepage__text-and-buttons {
    order: 0;
    margin-right: 2.4rem;
    max-width: 60.2rem;
  }
  .homepage__text-and-buttons__heart-pawn {
    width: 2.4rem;
    height: 2.4rem;
  }
  .homepage__text-and-buttons__main-title {
    font-size: 4rem;
    max-width: 60.4rem;
  }
  .homepage__text-and-buttons__sub-title {
    font-size: 2.4rem;
    max-width: 41.9rem;
  }
  .homepage__text-and-buttons__adoption-btn {
    display: inline-block;
    width: 24.5rem;
    height: 6rem;
    margin-top: 0;
    font-size: 2.4rem;
  }
  .homepage__text-and-buttons__donation-btn {
    display: inline-block;
    width: 24.5rem;
    height: 6rem;
    margin-top: 0;
    font-size: 2.4rem;
  }
}
@media (min-width: 1600px) {
  .homepage {
    gap: 10rem;
  }
}
.featured-pets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8.4rem;
}
.featured-pets__slogan {
  font-size: 1.6rem;
  color: #ff816b;
  font-weight: 400;
}
.featured-pets__title {
  width: 32rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.4rem;
}
.featured-pets__paragraph {
  width: 32rem;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  color: #756f82;
  text-align: center;
  font-weight: 400;
}
.featured-pets__adoption-link {
  justify-self: center;
  margin-top: 3.6rem;
  color: #2e1559;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline;
}
.featured-pets__adoption-link--link {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .featured-pets__slogan {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .featured-pets__title {
    font-size: 3.2rem;
    width: auto;
  }
  .featured-pets__paragraph {
    font-size: 2.4rem;
    width: auto;
  }
  .featured-pets__adoption-link {
    font-size: 2rem;
  }
}
.why-adopt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.2rem;
  flex-direction: column;
}
.why-adopt__title-main {
  font-size: 2.4rem;
  font-weight: 700;
  color: #221c30;
}
.why-adopt__title-secondary {
  font-size: 1.6rem;
  font-weight: 400;
  color: #756f82;
  margin-top: 1.2rem;
  width: 78%;
  text-align: center;
}

@media (min-width: 1024px) {
  .why-adopt {
    margin-top: 12.5rem;
  }
  .why-adopt__title-main {
    width: 100%;
    font-size: 3.2rem;
    text-align: center;
  }
  .why-adopt__title-secondary {
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
  }
}
.faq-accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.faq-accordion__paragraph {
  align-self: center;
  font-size: 1.4rem;
  color: #ff816b;
  font-weight: 600;
}
.faq-accordion__title {
  align-self: center;
  font-size: 2.8rem;
  color: #221c30;
  font-weight: 700;
  margin-bottom: 3rem;
}
.faq-accordion__footer {
  padding: 1.6rem 2.4rem;
  margin-top: 2rem;
}
.faq-accordion__footer--title {
  font-size: 1.8rem;
  color: #221c30;
  font-weight: 700;
}
.faq-accordion__footer--paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #756f82;
  width: 100%;
  text-align: left;
}
.faq-accordion__footer--paragraph span {
  text-decoration: underline;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .faq-accordion {
    width: 65%;
    margin-top: 4%;
    justify-self: center;
  }
  .faq-accordion__title {
    margin-bottom: 4%;
  }
  .faq-accordion__footer {
    display: none;
  }
}
.accordion {
  padding: 0 2.4rem;
  border-bottom: 0.7px solid #b1adba;
}
.accordion__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 0;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.accordion__header--title {
  font-size: 1.8rem;
  font-family: "Quicksand";
  font-weight: 700;
  color: #312845;
  text-align: left;
  width: 70%;
}
.accordion__header--icon {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.accordion__body {
  width: 32.7rem;
  height: 10.5rem;
  margin-bottom: 2.4rem;
  display: none;
  overflow: hidden;
}
.accordion__paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  color: #756f82;
  width: 100%;
}
.accordion.active .accordion__body {
  height: 100%;
  display: block;
}
.accordion.active .accordion__header--icon {
  transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .accordion__header--title {
    font-size: 2.4rem;
  }
  .accordion__body {
    width: 78%;
  }
  .accordion__paragraph {
    width: 100%;
    font-size: 1.8rem;
    color: #756f82;
  }
}
.banner {
  width: 100%;
  height: auto;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
  background-image: linear-gradient(to bottom, #2e1559 0%, #ff816b 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__header {
  width: 32.7rem;
  height: auto;
  margin: 2.4rem 0 1.6rem 0;
}
.banner__header__icon {
  width: 2.8rem;
  height: 2.8rem;
}
.banner__header__title {
  color: #fff;
  font-size: 2.4rem;
}
.banner__paragraph {
  width: 32.7rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
.banner__button {
  text-align: center;
  color: #fff;
  background-color: #ff816b;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Quicksand";
  width: 32.7rem;
  height: 5.4rem;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
.banner__puppie {
  width: 28.8rem;
  height: auto;
  margin-bottom: 1.6rem;
}

@media (min-width: 1024px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 37.4rem;
    margin-top: 10rem;
    z-index: 500;
    justify-self: center;
    border-radius: 0.8rem;
    padding: 5rem;
  }
  .banner__header {
    width: 59.2rem;
    height: 25.4rem;
    align-self: center;
  }
  .banner__header__icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  .banner__header__title {
    font-size: 3.2rem;
    font-weight: 700;
  }
  .banner__paragraph {
    font-size: 2rem;
    width: auto;
  }
  .banner__button {
    width: 54rem;
    height: 6rem;
    transition: all 0.45s ease-in-out;
  }
  .banner__button:hover {
    background-color: rgb(255, 107.2905405405, 81.5);
  }
  .banner__puppie {
    transform: scale(1.8);
    z-index: 800;
    padding-bottom: 5.5rem;
  }
}
.adoption-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3.1rem;
}
.adoption-cards__card {
  box-shadow: 0 4px 8px rgba(255, 129, 107, 0.3);
  -webkit-box-shadow: 0 4px 8px rgba(255, 129, 107, 0.3);
  -moz-box-shadow: 0 4px 10px rgba(255, 129, 107, 0.3);
  width: 34.3rem;
  height: 14.4rem;
  border: 0.5px solid #ff816b;
  border-radius: 1.6rem;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}
.adoption-cards__header {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.adoption-cards__header__icon {
  width: 2.4rem;
  height: 2.4rem;
}
.adoption-cards__title {
  font-size: 1.6rem;
  font-weight: 700;
}
.adoption-cards__paragraph {
  margin-top: 0.4rem;
  width: 100%;
  font-size: 1.4rem;
  color: #756f82;
  text-align: left;
}

@media (min-width: 1024px) {
  .adoption-cards {
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 8rem;
  }
  .adoption-cards__card {
    width: 30.2rem;
    height: 24.4rem;
    padding: 1.4rem 2.4rem;
  }
  .adoption-cards__header {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0;
  }
  .adoption-cards__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .adoption-cards__title {
    font-size: 2rem;
  }
  .adoption-cards__paragraph {
    font-size: 1.6rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  margin-top: 3.8rem;
  list-style: none;
  width: clamp(18rem, 75vw, 21rem);
  height: 29.3rem;
  border-radius: 0.8rem;
  border-radius: 8px;
  overflow: hidden;
  scroll-snap-align: start;
  flex: 0 0 auto;
}
.card__img {
  width: 100%;
  height: 75rem;
  overflow: hidden;
}
.card__img img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.card__naming {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0.8rem;
}
.card__naming--name {
  width: 16rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}
.card__naming--icon {
  cursor: pointer;
}
.card__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0.8rem;
  gap: 1rem;
}
.card__description__age-gender-size {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.card__description--icon-pet {
  width: 2rem;
  height: 2rem;
}
.card__description--age {
  font-size: 1.4rem;
  color: #756f82;
  font-weight: 400;
}
.card__description--gender {
  font-size: 1.4rem;
  color: #756f82;
  font-weight: 400;
}
.card__description--size {
  font-size: 1.4rem;
  color: #756f82;
  font-weight: 400;
}
.card__description__pin-location {
  display: flex;
  flex-direction: row;
  width: 19.4rem;
  gap: 0.8rem;
}
.card__description--icon-pin {
  width: 1.9rem;
  height: 1.9rem;
}
.card__description--location {
  font-size: 1.4rem;
  color: #756f82;
  font-weight: 400;
}
.card__description--button {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  border: none;
  background-color: #2e1559;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.card__description--button:hover {
  background-color: rgb(67.3272727273, 30.7363636364, 130.2636363636);
}

@media (min-width: 1024px) {
  .card {
    width: 32.4rem;
    height: 36.8rem;
  }
  .card__img {
    height: 23rem;
  }
  .card__naming {
    justify-content: space-between;
    padding: 1rem 1.6rem;
  }
  .card__naming--name {
    font-size: 2.4rem;
  }
  .card__naming--icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .card__description {
    padding: 1.6rem 1rem;
  }
  .card__description__age-gender-size {
    width: 50%;
    gap: 0;
    justify-content: space-between;
  }
  .card__description--icon-pet {
    width: 2.4rem;
    height: 2.4rem;
  }
  .card__description--age {
    font-size: 2rem;
  }
  .card__description--gender {
    font-size: 2rem;
  }
  .card__description--size {
    font-size: 2rem;
  }
  .card__description--icon-pin {
    width: 2.4rem;
    height: 2.4rem;
  }
  .card__description--location {
    font-size: 2rem;
  }
  .card__description--button {
    height: 10%;
  }
}
.carousel-wrapper {
  max-width: 100vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
  scrollbar-width: none;
}
.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel {
  display: flex;
  gap: 2rem;
  padding: 2rem 1rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.carousel li {
  scroll-snap-align: start;
  flex: 0 0 auto;
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .carousel li:nth-child(4) {
    display: none;
  }
}
@media (min-width: 1400px) {
  .carousel li:nth-child(3),
  .carousel li:nth-child(4) {
    display: flex;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.3rem;
  width: 100%;
  padding: 1.6rem 2.4rem;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 16.7rem;
  height: 7.4rem;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    height: 9.6rem;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
  }
  .header__left {
    width: 25%;
  }
  .header__right {
    width: 50%;
  }
}
.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 4rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.menu .line {
  width: 100%;
  height: 0.3rem;
  background-color: #ff816b;
  transition: 400ms ease;
}
.menu .line-2 {
  margin: 0.5rem 0;
}
.menu #checkbox:checked ~ .line-2 {
  opacity: 0;
}
.menu #checkbox:checked ~ .line-1 {
  rotate: 225deg;
  translate: 0 0.8rem;
}
.menu #checkbox:checked ~ .line-3 {
  rotate: -225deg;
  translate: 0 -0.8rem;
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
