// COLORS

// Primary colors
$color-primary-brand: #ff816b;
$color-primary-medium: #ffd4cc;
$color-primary-light: #fff0ed;

// Secondary colors
$color-secondary-dark: #2e1559;
$color-secondary-medium: #a571ff;
$color-secondary-light: #e0cfff;

// Tertiary colors
$color-tertiary-medium: #fff284;
$color-tertiary-light: #fffdd3;

// Gray colors
$color-gray-900: #221c30;
$color-gray-700: #312845;
$color-gray-500: #756f82;
$color-gray-300: #b1adba;
$color-gray-200: #d1cfd4;
$color-gray-100: #f8f5ff;

// Feedback colors
$color-feedback-error: #c44d4d;
$color-feedback-alert: #fff284;
$color-feedback-sucess: #37693f;

// Black and white
$color-white: #fff;
$color-black: #000;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-big-desktop: 1600px;
