.navigation {
  position: absolute;
  font-weight: 300;
  color: $color-secondary-dark;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 100%);
  background-color: $color-white;
  overflow-y: auto;
  z-index: 99;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  font-size: $font-mobile-body-16;
  pointer-events: none;
  display: flex;
  flex-direction: column;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 4.4rem 7%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  &__btn {
    display: inline-block;
    width: 87%;
    padding: 1.2rem 2.4rem;
    margin: 2rem auto 2rem auto;
    color: $color-primary-brand;
    border: 0.15rem solid $color-primary-brand;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: $color-white;
    font-size: $font-mobile-body-18;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-primary-brand;
      color: $color-white;
    }
  }
}

.navigation--open {
  animation: moveInLeftToRight 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
  pointer-events: auto;
}

.navigation--close {
  animation: moveOutRightToLeft 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

// PC MEDIA QUERRY

@media (min-width: $breakpoint-desktop) {
  .menu {
    display: none;
  }

  .navigation {
    position: static;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 75%;
    flex-direction: row;
    pointer-events: all;
    font-size: $font-desktop-body-20;
    font-weight: 400;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 70%;
    }

    &__item {
      border: 0;
      width: auto;
      padding: 2rem 1rem;
    }

    &__btn {
      width: auto;
    }

    &__link {
      position: relative;
    }

    &__link:hover {
      transform: scale(1.1); // Scales the text
      transition: all 0.25s;
    }

    &__link::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.3s;
      background-color: $color-gray-100;
      opacity: 0;
      transform: scale(0);
    }

    &__link:hover::after {
      opacity: 1;
      transform: scale(1.2); // Scales the gray background created with ::after
    }
  }
}
