.adoption-cards {
  width: 100%;
  @include flex-align-justify-center;
  flex-direction: column;
  margin-top: 3.1rem;

  &__card {
    @include drop-shadow;
    width: 34.3rem;
    height: 14.4rem;
    border: 0.5px solid #ff816b;
    border-radius: 1.6rem;
    padding: 1.6rem;
    margin-bottom: 1.6rem;
  }

  &__header {
    @include flex-row;
    gap: 1.6rem;

    &__icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__title {
    font-size: $font-mobile-title-h5;
    font-weight: $font-weight-bold;
  }

  &__paragraph {
    margin-top: 0.4rem;
    width: 100%;
    font-size: $font-mobile-body-10;
    color: $color-gray-500;
    text-align: left;
  }
}

@media (min-width: $breakpoint-desktop) {
  .adoption-cards {
    flex-direction: row;
    gap: 5rem;
    margin-top: 2.4rem;

    &__card {
      width: 30.2rem;
      height: 24.4rem;
      padding: 1.4rem 2.4rem;
    }

    &__header {
      @include flex-column;
      width: 90%;
      gap: 0;
    }

    &__icon {
      width: 2.4rem;
      height: 2.4rem;
    }

    &__title {
      font-size: $font-desktop-title-h5;
    }

    &__paragraph {
      font-size: $font-desktop-body-16;
    }
  }
}
