.banner {
  width: 100%;
  height: auto;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
  background-image: linear-gradient(to bottom, #2e1559 0%, #ff816b 100%);
  @include flex-column;
  align-items: center;

  &__header {
    width: 32.7rem;
    height: auto;
    margin: 2.4rem 0 1.6rem 0;

    &__icon {
      width: 2.8rem;
      height: 2.8rem;
    }

    &__title {
      color: $color-white;
      font-size: $font-mobile-title-h3;
    }
  }

  &__paragraph {
    width: 32.7rem;
    color: $color-white;
    font-size: $font-mobile-body-12;
    font-weight: $font-weight-regular;
    margin-bottom: 1.6rem;
  }

  &__button {
    @include defaultBtnPrimaryColorBackground;
    width: 32.7rem;
    height: 5.4rem;
    font-size: $font-mobile-body-16;
    margin-bottom: 1.6rem;
  }

  &__puppie {
    width: 28.8rem;
    height: auto;
    margin-bottom: 1.6rem;
  }
}

@media (min-width: $breakpoint-desktop) {
  .banner {
    @include flex-row;
    justify-content: space-around;
    width: 95%;
    height: 37.4rem;
    margin-top: 10rem;
    z-index: 500;
    justify-self: center;
    border-radius: 0.8rem;
    padding: 5rem;

    &__header {
      width: 59.2rem;
      height: 25.4rem;
      align-self: center;

      &__icon {
        width: 2.8rem;
        height: 2.8rem;
      }

      &__title {
        font-size: $font-desktop-title-h3;
        font-weight: $font-weight-bold;
      }
    }

    &__paragraph {
      font-size: $font-desktop-body-20;
      width: auto;
    }

    &__button {
      width: 54rem;
      height: 6rem;
      transition: all 0.45s ease-in-out;
    }

    &__button:hover {
      background-color: darken($color-primary-brand, 5%);
    }

    &__puppie {
      transform: scale(1.8);
      z-index: 800;
      padding-bottom: 5.5rem;
    }
  }
}
