// FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

html {
  // This defines what 1rem is
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Quicksand";
  font-weight: 400;
  line-height: 1.5;
  color: $color-gray-700;
  margin-bottom: 200rem;
  scroll-behavior: smooth;
  padding-top: 6.3rem;
  overflow-x: hidden;
}

body.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}
