// Desktop headings
$font-desktop-title-h1: 6.4rem;
$font-desktop-title-h2: 4rem;
$font-desktop-title-h3: 3.2rem;
$font-desktop-title-h4: 2.4rem;
$font-desktop-title-h5: 2rem;
$font-desktop-title-h6: 1.8rem;

// Desktop body
$font-desktop-body-32: 3.2rem;
$font-desktop-body-28: 2.8rem;
$font-desktop-body-24: 2.4rem;
$font-desktop-body-20: 2rem;
$font-desktop-body-18: 1.8rem;
$font-desktop-body-16: 1.6rem;

// Mobile headings
$font-mobile-title-h1: 3.2rem;
$font-mobile-title-h2: 2.8rem;
$font-mobile-title-h3: 2.4rem;
$font-mobile-title-h4: 1.8rem;
$font-mobile-title-h5: 1.6rem;

// Mobile body
$font-mobile-body-24: 3.2rem;
$font-mobile-body-20: 2.8rem;
$font-mobile-body-18: 2.4rem;
$font-mobile-body-16: 2rem;
$font-mobile-body-14: 1.8rem;
$font-mobile-body-12: 1.6rem;
