.testimonials {
  @include flex-column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  gap: 1rem;
  

  &__heading {
    &__feedback {
      color: $color-primary-brand;
      font-size: $font-mobile-body-10;
      font-weight: $font-weight-semi-bold;
    }

    &__title--main {
      font-size: $font-mobile-title-h3;
      color: $color-gray-900;
      font-weight: $font-weight-bold;
    }

    &__title--secondary {
      font-size: $font-mobile-body-12;
      color: $color-gray-500;
      width: 30rem;
      font-weight: $font-weight-semi-bold;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .testimonials {
    margin-top: 7%;

    &__heading {

      &__feedback {
        display: none;
      }

      &__title--main {
        font-size: $font-desktop-title-h3;
      }

      &__title--secondary {
        font-size: $font-desktop-body-24;
        width: 100%;
      }
    }
  }
}

