.why-adopt {
  @include flex-align-justify-center;
  margin-top: 4.2rem;
  flex-direction: column;

  &__title-main {
    font-size: $font-mobile-title-h3;
    font-weight: $font-weight-bold;
    color: $color-gray-900;
  }

  &__title-secondary {
    font-size: $font-mobile-title-h5;
    font-weight: $font-weight-regular;
    color: $color-gray-500;
    margin-top: 1.2rem;
    width: 78%;
    text-align: center;
  }
}

@media (min-width: $breakpoint-desktop) {
  .why-adopt {
    margin-top: 12.5rem;

    &__title-main {
      width: 100%;
      font-size: $font-desktop-title-h3;
      text-align: center;
    }

    &__title-secondary {
      width: 100%;
      font-size: $font-desktop-body-24;
      text-align: center;
    }
  }
}
